.dashboard {
  /* border: 1px solid #fff; */
  position: relative;
  display: flex;
  width: 100%;
  padding: 0 2%;
}
.tab {
  /* border: 1px solid #fff; */
  width: 30%;
  text-align: center;
  padding: 2% 1%;
  height: max-content;
}
.tab_section {
  /* border: 1px solid red; */
  position: relative;
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 1% 3%;
  height: max-content;
}

.tab_section > div {
  /* position: relative; */
  width: 100%;
  margin: 1% auto;
  height: max-content;
  box-shadow: 0 1px 17px #e8e8e8;
  padding: 1% 2%;
  transition: all 0.5s ease-in;
}

.noshow {
  display: none;
  /* z-index: 0 !important; */
  opacity: 0;
}

.navlink {
  list-style: none;
  padding: 7% 1%;
  margin: 3% 0;
  color: #000;
  font-size: 1.1em;
  box-shadow: 0 1px 17px #e8e8e8;
  display: block;
  transition: all 0.2s ease-in-out;
  transform: scale(1);
}

.navlink:active {
  transform: scale(0.95);
  transition: transform 0.2s;
}

.navlink i {
  display: none;
}
.navlink:hover {
  color: #3fb6a8;
  transform: scale(1.1);
  cursor: pointer;
}

.active {
  color: #3fb6a8 !important;
}

/*
.profile,
.postproject,
.rewards,
.userproject,
.information {
   position: relative; 
   display: flex;
  flex-direction: column;
  padding: 1% 4%;
  width: 100%;
  height: auto;
}
   */
.profile__heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0.5em;
  text-align: center;
}

#profile-form {
  padding: 1% 2%;
  width: 100%;
}
/* #profile-form label {
  font-size: 1rem;
  color: #3fb6a8;
  letter-spacing: 1px;
} */

.input__block {
  display: flex;
  width: 97%;
  align-items: center;
}

.input__block label {
  align-self: flex-start !important;
  text-align: left;
  min-width: 30%;
  text-transform: capitalize;
  font-size: 1rem;
  color: #3fb6a8;
  letter-spacing: 1px;
  margin-right: 1%;
}

.input__block input,
.input__block textarea {
  align-self: flex-start !important;
  line-height: 1;
  display: block !important;
  height: auto !important;
  display: block !important;
  font-size: 0.9em !important;
  padding: 0 2% !important;
  border-radius: 3px !important;
  border-bottom: 1px solid #e8e8e8 !important;
}

input[type="number"] {
  width: 10% !important;
  border: 1px solid #e8e8e8 !important;
  text-align: center;
  padding: 2% !important;
}

/* #profile-form input,
#profile-form textarea {
  background: #f3f3f3 !important;
  width: 100% !important;
  border-radius: 5px !important;
  line-height: 1 !important;
  font-size: 1em !important;
  padding: 0 2% !important;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
} */

@media only screen and (max-width: 600px) {
  .dashboard {
    flex-direction: column;
    width: 100%;
  }
  .tab {
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
  }
  .tab ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .navlink {
    padding: 1% 1%;
    width: 18%;
  }
  .navlink i {
    display: block;
    font-size: 1.5em;
  }
  .tab .nav__menu {
    display: none;
  }
  .tab_section {
    margin-top: 3%;
    width: 100%;
  }
}
