.project {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.project__list {
  max-height: 500px;
  overflow-y: auto;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.grey-bg {
  background-color: #5a5a5a;
}

@media only screen and (max-width: 992px) {
  /* All Projects content */
  .project {
    width: 95%;
    margin: 1% auto;
  }
}
