.main__footer {
  bottom: 0;
  padding: 15px;
  min-height: 15vh;
  width: 100%;
  font-size: 0.9em !important;
  /* background: #fff; */
  font-size: 1em;
  /* grid */
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "links paragraph icon";
  justify-items: center;
  align-items: center;
  text-align: center;
  /* box shadow */
  /* box-shadow: 0 -1px 17px #2b2b2b; */
}
.footer__link {
  grid-area: links;
  list-style-type: disc;
  text-align: left;
  padding-bottom: 1em;
}
.footer__link_item a {
  padding: 5px 0;
  color: #fff;
}

.footer__link_item a:hover {
  opacity: 0.7;
}
.main__footer p {
  grid-area: paragraph;
  align-self: flex-end;
  padding-bottom: 1em;
  color: #fff;
}

.footer__icon {
  grid-area: icon;
  font-size: 0.8em;
  /* padding-bottom: 1em; */
}

.footer__icon a {
  margin: 0 5px;
  /* color: #fff; */
}

.footer__icon a:hover {
  color: #55a555 !important;
  transition: all 0.5s ease-out;
}

.border {
  border: 1px solid red;
}

/* For mobile phones: */
@media only screen and (max-width: 600px) {
  .main__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: auto; */
  }

  .footer__list,
  .main__footer p,
  .main__footer .footer__icon {
    padding-bottom: 1em;
  }
}
