.user__profile {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1% 4%;
  width: 100%;
  height: auto;
}

.profile__heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0.2em;
  border-bottom: 1px solid #e8e8e8;
  text-align: center;
  margin: 0 1%;
}

#profile-form {
  padding: 1% 1%;
  width: 100%;
}
/* #profile-form label {
  font-size: 1em;
  color: #3fb6a8;
  letter-spacing: normal;
} */

/* .input__block {
  display: flex;
  justify-content: space-between;
  width: 97%;
  align-items: center;
}

.input__block label {
  align-self: center !important;
  text-align: left;
  font-size: 0.9em !important;
  min-width: 30%;
  text-transform: capitalize;
}

.input__block input {
  display: block !important;
  height: auto !important;
  display: block !important;
  font-size: 0.9em !important;
  padding: 1% 2% !important;
  color: #000 !important;
  border-radius: 5px !important;
  border-bottom: 1px solid #e8e8e8 !important;
} */
