* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  /* color: #111; */
}

body {
  position: relative;
  color: #000;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  /* background-image: linear-gradient(-45deg, #fed6e3, #a8edea); */
}

.main__container {
  position: relative;
  /* display: flex;
  flex-direction: column; */
  width: 100%;
  min-height: 100vh;
}

.green-text {
  color: #55a555;
}

.teal-text {
  color: #00838f;
}

.no-display {
  display: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e8e8e8;
  margin: 0.5em 0;
  padding: 0;
}

.main__content {
  /* border: 1px solid red; */
  position: relative;
  min-height: 67vh;
  margin: 0 3%;
  padding-bottom: 3em; /* footer height, to make stick */
}

.cancel-btn {
  text-align: center;
  border-radius: 5px;
  padding: 1% 1%;
  border-radius: 10px;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 2px;
  width: 20%;
  margin-left: 20%;
}

.cancel-btn:hover {
  text-decoration: underline;
  color: #e8520c;
  transition: all 0.2s ease-out;
}

/* main content component */
@media only screen and (max-width: 900px) {
  /* Tablets and laptops*/
  .main__content {
    display: flex;
    flex-direction: column;
  }
}
